rmvd/data/kitti_splits
rmvd/data/kitti_internal.py
rmvd/data/sample_lists/staticthings3d.seq4_train.mvd.pickle
rmvd/data/sample_lists/flyingthings3d.seq4_train.mvd.pickle
rmvd/data/sample_lists/blendedmvs.seq4_train.mvd.pickle
rmvd/data/sample_lists/staticthings3d.robust_mvd.mvd.pickle
rmvd/data/sample_lists/flyingthings3d.robust_mvd.mvd.pickle
rmvd/data/sample_lists/blendedmvs.robust_mvd.mvd.pickle
*.egg-info/
*.pyc
/.idea/
__pycache__/
.idea
*.files
*.index
._.DS_Store
.DS_Store
*.bin
*.info
*.pyc
__pycache__
*.swp
*.nfs*
*.autosave
*.so
db.sqlite3
*.h5
.pytest_cache
sample_data
NOTES.md
