rmvd/data/sample_lists/flyingthings3d.seq4_train.mvd.pickle
rmvd/data/sample_lists/blendedmvs.seq4_train.mvd.pickle
*.egg-info/
*.pyc
/.idea/
__pycache__/
.idea
*.files
*.index
*.bin
*.info
*.pyc
__pycache__
*.swp
*.nfs*
*.autosave
*.so
db.sqlite3
*.h5
.pytest_cache
sample_data
NOTES.md
